<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">
                    Sistema
                </div>
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-home"></i>
                    </div>
                    Início
                </a>
                <div class="sb-sidenav-menu-heading">
                    Cadastro
                </div>
                <a class="nav-link" routerLink="/clientes-list">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    Clientes
                </a>
                <a class="nav-link" routerLink="/servico-list">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    Serviços
                </a>
            </div>
        </div>
    </nav>
</div>
